<h1><%= @product.name %></h1>
<span class="price"><%=  """#{@product.price} #{@product.currency}""" %></span> <br>
<span class="link"><%= link_to @product.link, @product.link %></span> <br>
<span class="permalink"><input type="text" value="<%= shop_product_url %>" size="50"></span>