// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color:#ffffff;
}

.shop {
  list-style-type:none;
  margin:0;  
}

.shop img {
  width:200px;
}

.permalink input {
  width:800px;
}

